// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// Your CSS partials
@import "components/index";
@import "pages/index";

h1{
 margin-left: 16px;
}
#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 30px;
}

.card{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  // align-items: center;
  // justify-content: space-around;
  // text-shadow: 0 0 10px rgba(0,0,0,0.7);
  padding: 10px 10px;
  // height: 150px;
  // width: 150px;
  min-width: 200px;
  min-height: 300px;
}

#price-guests{
  display: flex;
  position: absolute;
  bottom: 40px;
}

.icon{
  padding: 0 10px;

}

#link{
  position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.btn{
  border-radius: 5px;
}

@media(min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(min-width: 992px) and (max-width: 1199px){
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
.cards {
    grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 575px) and (min-width: 100px) {
  .cards {
    grid-template-columns: 1fr;
}
}
